spring:
  security:
    oauth2:
      client:
        registration:
          github:
            clientId: github-client-id
            clientSecret: github-client-secret
            redirectUri: http://localhost:8080/api/login/oauth2/code/github